@tailwind base;
@tailwind components;
@tailwind utilities;


  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto:ital,wght@1,500;1,700&display=swap');

  :root {
    --primary-dark:#5651e5;
    --primary-light:#709dff;
    font-weight: 800;
    font-size: 20px;
    
  }


 
  @layer base {
    html {
      @apply scroll-smooth
    }

    body {
      @apply font-[Poppins]
    }

    li {
      @apply p-4 text-sm 
    }

    button {
      @apply px-4 py-2 border bg-gradient-to-r from-[var(--primary-dark)] to-[var(--primary-light)] text-white
      rounded-md
    }
     
    button:hover {
      background:#FFEA00;
      color: black;
      
    }
    
    h2{
      @apply text-xl font-bold
    }
  }

  